build

live2d-desktop
config.v2.json
config.v3.json
!glew/build

*.zip

glew/doc

.venv

**/__pycache__

**/.idea

**/*.mp4
**/*.wav

**/*.egg-info

dist

Resources/v3/草莓兔兔 试用

test

**.db

!package/audio1.wav

!package/audio2.wav

!package/test.mp4

package/test_model.py

!Core/lib/windows/x64/*.lib

.benchmarks

assets

**.hit_part.html

screenshot.png

123.error.txt
123.txt

references

X64

venv-38
venv-310
venv-312

package/test*.py